## no wordpress or anything of that sort
/wordpress/
info.php
*.xcf

## no cache or anything of that shizzle
*.cache

## No environment variables
app/.env
app/w/cache
app/w/docs
app/w/extensions
app/w/*.git
*.env
*db.env

## No data dumps
# *.sql


## no big video files
*.mp4