html{
  height:100%;
}
body{
  margin:0;
  height:100%;
  width:100%;
  padding:0;
  /* overflow: hidden; */
  font-family: 'abeezee-regular-webfont', 'abeezeeregular', sans-serif;
}
canvas{
  width:100vw;
  height:100vh;
  padding:0;
  margin:0;
  z-index: 1;
}

a {
  color: inherit
}

.main {
  position: absolute;
  /* top:0; */
  z-index: 2;
  /* margin-left:auto; */
  /* margin: 50 auto; */
  /* border-style:solid;
  border-color:black;
  border-width:2px;
  border-radius: 15px; */
}

.title {
  /* margin-left:20%;
  margin-right: 0; */
  text-align: center;
  font-size: 32pt;
  /* border-style:solid;
  border-color:black;
  border-width:2px;
  border-radius: 15px; */
}

.subtitle {
  text-align: center;
  font-size: 18pt;
  /* border-style:solid;
  border-color:black;
  border-width:2px;
  border-radius: 15px; */
}

.logo{
  /* position:relative; */
  display: inline-block;
  text-align: center;
  /* border-style:solid;
  border-color:black;
  border-width:2px;
  border-radius: 15px; */
}

.navbottom{
  z-index: 2;
  position:absolute;
  bottom:0%;
  height:8%;
  border-color:black;
  border-width:2px;
  border-radius: 15px;
}
.Menu{
  font-size: 18pt;
  text-align:center;
  border-color:black;
  border-width:2px;
  border-radius: 15px;
}
