html{
  height:100%;
}
body{
  margin:0;
  height:100%;
  width:100%;
  padding:0;
  font-size: 12pt;
  /* overflow: hidden; */
  font-family: 'abeezee-regular-webfont', 'abeezeeregular', sans-serif;
}
canvas{
  position:absolute;
  width:100vw;
  height:100vh;
  padding:0;
  margin:0;
  z-index: 1;
}

a {
  color: inherit
}

.absolute {
  position:absolute;
}

.fixed {
  position:fixed;
}

.mainheight {
  height:90vh;
}

.navheight {
  height:10vh;
}

.headingheight {
  height:10vh;
}

.displayheight {
  height:80vh;
}

.totalwidth {
  width:100vw;
}

.foreground {
  z-index:2;
}

.scrollable {
  overflow-y:auto;
}

.heading {
  position:fixed;
  font-size: 18pt;
  top:0;
}

.display {
  position:fixed;
  top:10vh;
}

.bottomnav {
  position:fixed;
  bottom:0;
}

.center {
  text-align:center;
}


.testdiv {
  /* z-index:2;
  border-style:solid;
  border-color:black;
  border-width:0.5px; */
}

.white {
  background-color: rgba(255, 255, 255, 0.75)  ;
}

.borders{
  border-style:solid;
  border-color:black;
  border-width:0.5px; */
  border-radius:20;
}

.title {
  /* margin-left:20%;
  margin-right: 0; */
  margin-top: 20%;
  text-align: center;
  font-size: 32pt;
}

.subtitle {
  margin-top: 2%;
  text-align: center;
  font-size: 18pt;
}

.logodiv {
  margin-top: 2%;
  text-align: center;
}

.inlineblock {
  display: inline-block;
}

.menu {
  margin-top: 2%;
  font-size: 18pt;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
